<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title"><h1>Bienvenido <%= current_user.full_name %></h1></h5>
    
  </div>
  <div class="card-footer text-muted">
  </div>
</div>


